*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  /* height: 100%; */
  /* overflow: hidden; */
}

body {
  font-family: 'Segoe UI', system-ui, sans-serif;
  background: #1a4731;
  color: #e8f5e9;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: inherit;
}
